.btn {
	font-size: .9rem;
	background-color: inherit;
	border: 1px $mainPurple solid;
	border-radius: 3px;
	width: 8rem;
	color: $mainPurple;
	text-decoration: none;
	padding: .5rem .1rem;
	margin: 0 4px 20px 4px;
	display: inline-block;
	text-align: center;
	box-sizing: content-box;

	&--hover:hover {
		background: rgba(133, 88, 118, .3);
	}

	&--hover-contact:hover {
		background: $mainPurple;
		color: $mainWhite;
	}

	@mixin atSmall {
		margin: 10px 30px 50px 30px;
	}

	@mixin atMedium {
		margin: 10px 30px 20px 0px;
	}

	&--large {
		background-color: $mainPurple;
		color: $mainWhite;
		font-size: .8rem;
		width: 10rem;
		padding: .6rem .8rem;
		margin: 20px 4px 0px 4px;

		@mixin atSmall {
	 		font-size: 1.125rem;
	 		width: 13.75rem;
			padding: .75rem 1.2rem;
			margin: 30px 8px 8px 8px;
	 	}

	 	/*@mixin atMedium {
	 		font-size: 1.125rem;
	 	}*/
	}

	/*&--grey {
		width: 3rem;
		padding: .3rem .1rem;
		border: 1px $mainWhite solid;
		font-size: .6rem;
		background-color: inherit;
		color: $mainWhite;
	}*/

	&--left {
		@mixin atMedium {
			display: block;
		}
	}
}