.generic-content-container {

	p {
		line-height: 1.5;
		font-size: .9rem;
		margin-top: 0;

		@mixin atMedium {
			line-height: 1.625;
			font-size: 1rem;
		}
	}

	&--purple {

		p {
			line-height: 1;
			color: $mainPurple;

			@mixin atMedium {
				line-height: 1.2;
				font-size: 1.125rem;
			}
		}
	}
}