.headline {
	font-size: 1.4rem;
	color: $mainPurple;

	@mixin atSmall {
		font-size: 1.8rem;
	}

	@mixin atMedium {
		font-size: 2.3rem;
	}

	&--centered {
		text-align: center;
	}

	&--margin-top {
		/*padding-top: 1.5rem;

		@mixin atMedium {
			padding-top: 0;
		}*/

		display: none;

		@mixin atMedium {
			display: block;
		}
	}

	&--white {
		color: $mainWhite;
	}

	&--small {
		font-size: 1.1rem;

		@mixin atSmall {
			font-size: 1.4rem;
		}

		@mixin atMedium {
			font-size: 1.625rem;
		}
	}

	&--smaller {
		font-size: 1rem;
		margin-top: 1.5em;

		@mixin atSmall {
			font-size: 1.2rem;
			margin-top: 1.875em;
		}

		@mixin atMedium {
			font-size: 1.5rem;
		}
	}

	&--margin-small {
		margin-bottom: .5em;
		margin-top: 1em;

		@mixin atMedium {
			margin-top: .5em;
		}
	}

	&--margin-large {
		margin-top: 0;
	}


/*właściwość do ustawienia dla p*/
	/*strong {
		font-weight: 300;
	}*/
}