.headline {
	font-size: 1.4rem;
	color: $mainPurple;

	@mixin atSmall {
		font-size: 2.3rem;
	}

	&--centered {
		text-align: center;
	}

	&--white {
		color: $mainWhite;
	}

	&--small {
		font-size: 1.1rem;

		@mixin atSmall {
			font-size: 1.625rem;
		}
	}

	&--smaller {
		font-size: 1rem;

		@mixin atSmall {
			font-size: 1.5rem;
		}
	}

	&--margin-small {
		margin-bottom: 0;
		margin-top: .75em;
	}

	&--margin-large {
		margin-top: 0;
	}


/*właściwość do ustawienia dla p*/
	/*strong {
		font-weight: 300;
	}*/
}