.row {
	@mixin clearfix;

	&--gutters {
		@mixin atSmall {
			margin-right: -20px;
		}

		@mixin atMedium {
			margin-right: -36px;
		}
	}

	&--gutters > div {
		/*padding-right: 0;*/

		@mixin atSmall {
			padding-right: 20px;
		}

		@mixin atMedium {
			padding-right: 36px;
		}
	}

	@mixin atSmall {

		
		&__medium-6 {
			float: left;
			width: 50%;
		}
	}

	@mixin atMedium {

		&__medium-3 {
			float: left;
			width: 25%;
		}
		
		&__medium-4 {
			float: left;
			width: 33.33%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;
		}
	}

	&__google-maps {
		position: relative;
		padding-bottom: 65%;
		height: 0;
		overflow: hidden;

		&--iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
			border: 0;
		}

		@mixin atSmall {
			padding-bottom: 50%;
		}

		@mixin atMedium {
			padding-bottom: 70%;
		}

		@mixin atLarge {
			padding-bottom: 50%;
		}
	}

	&--centered {
		text-align: center;

		@mixin atMedium {
			text-align: left;
		}
	}
}