.wrapper {
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1232px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;

	/*&--purple {
		background-color: $mainPurple;
	}*/

	@mixin atSmall {
		padding-left: 26px;
		padding-right: 26px;
	}
}